ion-content {
  --background: #f4f5f8;
  --padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
  color: var(--ion-color-primary);
}

ion-item {
  --border-radius: 8px;
  margin-bottom: 10px;
}