.main-header ion-toolbar {
  --background: #ff4d4f;      /* rojo */
  --color: #ffffff;           /* texto blanco */
}

.top-search {
  max-width: 520px;
  width: 100%;
  margin: 0 12px;
  --background: #ffffff;
  --color: #111;
  --placeholder-color: #666;
  --icon-color: #666;
  --clear-button-color: #666;
  border-radius: 12px;
}

.top-actions ion-button {
  --color: #ffffff;           /* iconos blancos */
}

.top-actions ion-icon {
  font-size: 22px;
}
.tabs-root ion-router-outlet {
  position: relative;
  z-index: 1;
}

.tabs-root ion-tab-bar {
  z-index: 10;
}

//ANIMACION CHOLOLO
.contenedor-mascota {
  position: fixed;
  bottom: 85px; // Justo encima de la barra de navegación
  right: 15px;
  z-index: 9999;
  width: 70px;
  pointer-events: none; // Para que no moleste al hacer clic

  .monito-animado {
    width: 100%;
    animation: saludar 4s ease-in-out infinite;
    transform-origin: bottom center;
  }
}

@keyframes saludar {
  0%, 100% { transform: translateY(0) rotate(0); }
  20% { transform: translateY(-10px) rotate(5deg); } // Sube y se inclina
  40% { transform: translateY(-10px) rotate(-5deg); } // Saluda al otro lado
  60% { transform: translateY(-10px) rotate(5deg); }
  80% { transform: translateY(0) rotate(0); } // Baja
}
