.main-header ion-toolbar {
  --background: #ff4d4f;      /* rojo */
  --color: #ffffff;           /* texto blanco */
}

.top-search {
  max-width: 520px;
  width: 100%;
  margin: 0 12px;
  --background: #ffffff;
  --color: #111;
  --placeholder-color: #666;
  --icon-color: #666;
  --clear-button-color: #666;
  border-radius: 12px;
}

.top-actions ion-button {
  --color: #ffffff;           /* iconos blancos */
}

.top-actions ion-icon {
  font-size: 22px;
}
.tabs-root ion-router-outlet {
  position: relative;
  z-index: 1;
}

.tabs-root ion-tab-bar {
  z-index: 10;
}

