.main-header ion-toolbar {
  --background: #ff4d4f;      /* rojo */
  --color: #ffffff;           /* texto blanco */
}

.top-search {
  max-width: 520px;
  width: 100%;
  margin: 0 12px;
  --background: #ffffff;
  --color: #111;
  --placeholder-color: #666;
  --icon-color: #666;
  --clear-button-color: #666;
  border-radius: 12px;
}

.top-actions ion-button {
  --color: #ffffff;           /* iconos blancos */
}

.top-actions ion-icon {
  font-size: 22px;
}
.tabs-root ion-router-outlet {
  position: relative;
  z-index: 1;
}

.tabs-root ion-tab-bar {
  z-index: 10;
}

//ANIMACION CHOLOLO
.contenedor-mascota {
  position: fixed;
  bottom: 85px; 
  right: -80px; // Empezamos con el mono escondido a la derecha
  z-index: 9999;
  width: 70px;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;

  .monito-animado {
    width: 100%;
    // Animación de 20 segundos para que no sea repetitiva
    animation: cicloMascota 20s ease-in-out infinite;
    transform-origin: bottom right;
  }
}

@keyframes cicloMascota {
  // 0% a 70%: El mono está totalmente escondido
  0%, 70% { transform: translateX(0) rotate(0); }
  
  // 72%: Se asoma un poquito (curiosidad)
  72% { transform: translateX(-40px) rotate(-10deg); }
  
  // 77%: Se vuelve a esconder un poco
  77% { transform: translateX(-40px) rotate(-10deg); }
  
  // 80%: Sale del todo para saludar
  80% { transform: translateX(-90px) rotate(-5deg); }
  
  // 82%, 86%: Movimiento de saludo (arriba y abajo)
  82%, 86% { transform: translateX(-90px) rotate(10deg); }
  84%, 88% { transform: translateX(-90px) rotate(-10deg); }
  
  // 92%: Se queda mirando un momento
  92% { transform: translateX(-90px) rotate(0) scale(1.1); }
  
  // 100%: Se retira rápidamente
  100% { transform: translateX(0) rotate(0); }
}
