<ion-header [translucent]="true">
  <ion-toolbar style="--background: #FF4500; --color: white;">
    <ion-title>Publicar Chollo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div style="background: #f4f4f4; padding: 10px; border-radius: 10px; margin-bottom: 20px;">
    <ion-item lines="none" style="--background: transparent;">
      <ion-label position="stacked">¿No ves la tienda? Añádela:</ion-label>
      <ion-input [(ngModel)]="nombreNuevoProveedor" placeholder="Ej: MediaMarkt"></ion-input>
    </ion-item>
    <ion-button fill="outline" size="small" expand="block" (click)="guardarProveedor()" color="dark">
      Añadir Tienda
    </ion-button>
  </div>

  <hr> <ion-item>
    <ion-label position="stacked">Título del producto</ion-label>
    <ion-input [(ngModel)]="nuevoChollo.titulo" placeholder="Ej: PlayStation 5"></ion-input>
  </ion-item>
  
  <ion-button expand="block" (click)="guardarChollo()" style="--background: #FF4500; margin-top: 20px;">
    PUBLICAR CHOLLO
  </ion-button>
</ion-content>