.category-card {
  margin: 8px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.05);

  .category-content {
    text-align: center;

    img {
      width: 50px;
      height: 50px;
      margin-bottom: 12px;
      object-fit: contain;
    }

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: #333;
    }
  }
}