<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title style="font-weight: 800; letter-spacing: -0.5px;">CHOLLONES</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let chollo of chollos" class="chollo-card">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="image-container">
            <img [src]="chollo.imagen_url || 'assets/placeholder.png'" />
            <ion-badge color="secondary" class="temp-badge">
              +{{ chollo.puntos?.estado || '0' }}°
            </ion-badge>
          </div>
        </ion-col>

        <ion-col size="8">
          <ion-text color="medium">
            <p class="provider-text">{{ chollo.proveedores?.nombre }}</p>
          </ion-text>
          <h3 class="chollo-title">{{ chollo.titulo }}</h3>
          
          <div class="price-container">
            <span class="current-price">{{ chollo.precio_actual }}€</span>
            <span class="old-price" *ngIf="chollo.precio_original">{{ chollo.precio_original }}€</span>
          </div>
          
          <ion-button [href]="chollo.url" target="_blank" fill="clear" size="small" class="go-button">
            Ir al chollo <ion-icon name="open-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>