/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Dark mode */
@import "@ionic/angular/css/palettes/dark.system.css";

/* =========================
   CHOLLONES - Tema Global
   ========================= */

/* Fondo general + scroll estable */
ion-content {
  --background: #f4f5f8;
  --overflow: auto;
  --padding-bottom: calc(72px + env(safe-area-inset-bottom));
}

/* Header rojo en toda la app */
.header-red ion-toolbar {
  --background: var(--ion-color-primary);
  --color: #fff;
}

.header-red ion-icon {
  color: #fff;
}


/* Iconos en header blancos */
ion-header ion-icon,
ion-toolbar ion-icon {
  color: #fff;
}

/* Searchbar estilo web */
ion-searchbar {
  --border-radius: 999px;
  --background: rgba(255, 255, 255, 0.92);
  --color: #111;
  --placeholder-color: #666;
  --icon-color: #666;
}

/* Botones verde menta */
ion-button.btn-verde {
  --background: var(--ion-color-secondary);
  --color: #fff;
  font-weight: 800;
  --border-radius: 12px;
}

/* Links tipo web */
a.link {
  color: #111;
  text-decoration: underline;
  font-weight: 600;
}

/* Tab bar siempre clicable */
ion-tab-bar {
  z-index: 9999 !important;
  pointer-events: auto !important;
}

/* Scrollbars (web) */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
@import "leaflet/dist/leaflet.css";
