<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido</h2>
  <p>Crea una cuenta para guardar tus chollos favoritos.</p>

  <ion-item lines="full">
    <ion-label position="floating">Nombre Completo</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="registrarse()" class="ion-margin-top">
    REGISTRARSE
  </ion-button>
</ion-content>