<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ tituloCategoria }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text *ngIf="loading">Cargando...</ion-text>

  <ion-text *ngIf="!loading && productos.length === 0">
    No hay productos en esta categoría todavía.
  </ion-text>

 <ion-card *ngFor="let p of productos">
  <img [src]="p.imagen_url" *ngIf="p.imagen_url" />

  <ion-card-header>
    <ion-card-title>{{ p.titulo }}</ion-card-title>
    <ion-card-subtitle *ngIf="p.proveedores">
      {{ p.proveedores.nombre }}
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>{{ p.descripcion }}</p>

    <div class="precios">
      <span class="actual">{{ p.precio_actual }}€</span>
      <span class="original" *ngIf="p.precio_original">
        {{ p.precio_original }}€
      </span>
    </div>
  </ion-card-content>
</ion-card>


</ion-content>
